.articles-section {
    display: flex;
    flex-direction: column;

    &__main-heading {
        @include visually-hidden;
    }

    &__tabs {
        margin-bottom: rem(20px);

        @media #{$screen-desktop} {
            margin-bottom: rem(30px);
        }
    }

    &__button {
        align-self: center;
    }
}