.notification {
    height: rem(150px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $white;

    border-radius: $border-radius-medium;

    &--slide {
        width: rem(286px);
    }
}