.heading {
    &--big {
        @include title-huge;
    }

    &--medium {
        @include title-medium; 
    }

    &--small {
        @include title-small;
    }

    &--card {
        font-size: rem($font-size-small);
        line-height: 150%;

        @media #{$screen-tablet} {
            font-size: rem(18px);
        }
    }

    &--form {
        font-size: rem($title-size-medium);
        line-height: 127%;
    }
}